body.title-is-center .block17-4 .subtitle {
    text-align: center;
}
.block17-4 .block-title  {
    margin-bottom: 50px;
}
.block17-4 .block-subtitle {
    margin: 30px 0 0;
    color: #777777;
}
.block17-4 .tariffs-tabs {
    margin-bottom: 32px;
}
.block17-4 .tariff-filter__button {
    border: 1px solid transparent;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 8px 16px 10px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.block17-4 .tariff-filter__button:not(.active) {
    background: #FFFFFF;
    border-color: #ECECEC;
}
.block17-4 .tariff-filter__button:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.block17-4 .tariff-filter__button.active {
    color: #fff;
}
.block17-4 .tariff {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-bottom: none;
    border-radius: 3px;
    padding: 40px;
    -webkit-transition: box-shadow .2s ease-in;
    -moz-transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
}
.block17-4 .tariff:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    -webkit-transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
    position: relative;
    z-index: 1;
}
.block17-4 .tariff:last-child {
    border-bottom: 1px solid #ECECEC;
}
.block17-4 .tariff-title__wrapper {
    display: inline-block;
    vertical-align: top;
}
.block17-4 .tariff-title {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333;
    margin-bottom: 9px;
}
.block17-4 .tariff-text {
    display: inline-block;
    vertical-align: top;
}
.block17-4 .tariff-desc {
    font-size: 15px;
    line-height: 20px;
    color: #666;
    margin-bottom: 21px;
}
.block17-4 .tariff-props li {
    position: relative;
    color: #333;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
}
.block17-4 .tariff-prices > div {
    display: inline-block;
}
.block17-4 .tariff-price {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-right: 6px;
}
.block17-4 .tariff-old-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}
.block17-4 .tariff-discount {
    white-space: nowrap;
    font-size: 0;
}
.block17-4 .tariff-discount > div {
    display: inline-block;
    font-size: 11px;
    text-align: center;
    padding: 1px 3px 1px 4px;
    margin-right: 2px;
}
.block17-4 .tariff-discount .discount-value {
    background: #FFD600;
    border-radius: 3px;
}
.block17-4 .tariff-discount .discount-text {
    background: #FFEF99;
    border-radius: 3px;
    color: #333;
}
.block17-4 .tariff-btn_wrapper {
    text-align: right;
}
.block17-4 .load-more_wrapper {
    margin-top: 32px;
}
.block17-4 .tariff-stickers {
    font-size: 0;
}
.block17-4 .tariff-stickers > div {
    display: inline-block;
}
.block17-4 .tariff-stickers [class*="sticker_"] {
    background-color: #46BD1C;
    width: auto;
    margin: 0 3px 6px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 5px 3px;
    border-radius: 2px;
}
.block17-4 .tariff-stickers > div:first-child [class*="sticker_"] {
    margin-left: 0;
}
.block17-4 .tariff-stickers .sticker_sale {
    background-color: #FFD600;
    color: #333;
}
.block17-4 .tariff-stickers .sticker_hit {
    background-color: #FC3E14;
}
@media (max-width: 1200px) {
    .block17-4 .tariff-img {
        display: block;
    }
}
@media (max-width: 991px) {
    .block17-4 .tariff-btn_wrapper {
        text-align: left;
        margin-top: 10px;
    }
}
