.footer-order-btn.footer-items {
    justify-content: flex-start;
}
.footer-item {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}
.footer-item-text {
    text-align: left;
}
.footer-social {
    justify-content: flex-start;
    margin-top: 26px;
}
.footer-social-block  {
    margin: 0;
    margin-right: 8px;
    margin-bottom: 8px;
}
.footer-payoptions {
    float: left;
    justify-content: flex-start;
}
.footer-copyright {
    float: left;
    margin-right: 100px;
}
.footer-ranx {
    margin-left: 60px;
}
.footer-links {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .footer-items {
        justify-content: center;
        margin-top: 10px;
    }
    .footer-item {
        display: flex;
        justify-content: center;
    }
    .footer-item-text {
        text-align: center;
    }
    .footer-social {
        justify-content: center;
        margin-top: 10px;
        width: 100%;
    }
    .footer-copyright {
        float: none !important;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .footer-payoptions {
        float: none !important;
        justify-content: center;
        margin-top: 20px;
    }
    .footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-links > * {
        text-align: center;
        justify-content: center;
    }
    .footer-link {
        width: 100%;
        margin-top: 20px;
    }
    .footer-ranx {
        margin-left: 0;
        margin-top: 20px;
    }
    .footer-order-btn-wrap {
        text-align: center;
    }
    .footer-order-btn {
        margin-left: 0;
        margin-top: 10px;
    }
    .footer-menu {
        justify-content: center;
    }
    .footer-menu a {
        margin: 0 19px 10px;
    }
}

@media (min-width: 1200px) {
    .footer-order-btn-wrap {
        display: flex;
        justify-content: flex-end;
    }
}
