.block.block8-3 {
    position: relative;
    z-index: 2;
}
.block.block8-3 .block-title {
    margin-bottom: 50px;
}
.block.block8-3 .block-title-col + .block-desc-col {
    margin-top: 25px;
}
.block8-3 .hide-scrollbars::-webkit-scrollbar {
    background: transparent;
    width: 0;
}
.block8-3 .hide-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.block8-3 .calendar__group {
    font-size: 13px;
    line-height: 15px;
}
.block8-3 .calendar__days,
.block8-3 .calendar__items {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
.block8-3 .calendar__day-wrapper,
.block8-3 .calendar__items-day {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 7);
}
.block8-3 .calendar__day {
    width: 100%;
    padding: 7px 0 8px;
    font-weight: 600;
    text-align: center;
}
.block8-3 .calendar__day:not(.active) {
    background: #F6F6F6;
}
.block8-3 .calendar__item {
    margin-top: 10px;
    padding: 20px 13px 20px 20px;
    border: 1px solid #ECECEC;
    position: relative;
}
.block8-3:not(.text-light) .calendar__item {
    color: #555555;
}
.block8-3 .calendar__item-service {
    font-weight: 700;
}
.block8-3:not(.text-light) .calendar__item-service {
    color: #333333;
}
.block8-3 .calendar__item-person {
    margin-top: 5px;
}
.block8-3 .calendar__item-time {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.block8-3 .time__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.block8-3 .time__icon .svg {
    width: 14px;
    height: 14px;
    position: relative;
    top: -1px;
}
.block8-3 .calendar__item-car,
.block8-3 .calendar__item-years {
    margin-top: 15px;
}
.block8-3 .calendar__item-comment {
    margin-top: 15px;
    border-top: 1px solid #ECECEC;
    padding-top: 15px;
}
.block8-3 .calendar__item-btn {
    display: block;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    height: 0;
    line-height: 20px;
    border-radius: 0;
    padding-top: 13px;
    padding-bottom: 15px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    word-break: break-word;
}
.block8-3 a.btn.calendar__item-btn.shadow-hover {
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
}
.block8-3 .calendar__item:hover .calendar__item-btn {
    opacity: 1;
    visibility: visible;
    height: auto;
}

@media (min-width: 1200px) {
    .block8-3 .calendar__day.active {
        background: #F6F6F6;
    }
    .block.block8-3.text-light .calendar__day {
        color: #333;
    }
}
@media (min-width: 576px) and (max-width: 1199px) {
    .block8-3 .filter__control {
        flex-basis: 50%;
        max-width: 50%;
    }
    .block8-3 .calendar__item {
        padding: 20px;
        display: flex;
    }
    .block8-3 .calendar__item-column:not(.column--button) {
        width: 40%;
        padding-right: 8px;
    }
    .block8-3 .calendar__item-column.column--button {
        margin-left: auto;
        max-width: 20%;
    }
    .block8-3 .calendar__item-time {
        margin-top: 0;
    }
}
@media (max-width: 1199px) {
    .block8-3 .maxwidth-theme {
        max-width: 690px;
    }
    .block8-3 .calendar__day {
        border-radius: 3px;
    }
    .block8-3 .calendar__day.active {
        color: #fff;
    }
    .block8-3 .calendar__day.disabled {
        opacity: 0.5;
    }
    .block8-3 .calendar__items-day {
        width: 100%;
    }
    .block8-3 .calendar__items-day:not(.day--select) {
        display: none;
    }
    .block8-3 .calendar__item-comment {
        border-top: none;
        padding-top: 0;
        margin-bottom: 5px;
    }
    .block8-3 .calendar__item-btn {
        position: static;
        opacity: 1;
        visibility: visible;
        border-radius: 4px;
        padding: 8px 15px 9px;
        height: auto;
    }
}
@media (max-width: 575px) {
    .block8-3 .calendar__days {
        margin-left: -3px;
        margin-right: -3px;
    }
    .block8-3 .calendar__day-wrapper {
        padding-left: 3px;
        padding-right: 3px;
    }
    .block8-3 .calendar__item-btn {
        display: inline-block;
        margin-top: 15px;
    }
}
