
/* main */
.header-main {
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}
.header-main,
.header-main > .row {
    height: 100px;
}
.header-city-wrap {
    margin-left: 50px;
}
.header-phone {
    margin-left: 51px;
    flex-wrap: nowrap;
    max-width: none;
    width: auto;
    align-items: center;
}
.header-basket {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 44px;
    /* margin-right: 11px; */
}
.header-phone-callback {
    padding-left: 0;
    padding-top: 0;
    margin-left: 16px;
}
