#headermobile .header-phone-icon {
    width: 17px;
    height: 17px;
    position: relative;
    margin-left: 22px;
}
#headermobile .header-phone-icon svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    left: 0;
}
#headermobile .header-burger {
    margin-right: 22px;
}
#headermobile .header-basket {
    margin-left: 25px;
}
#headermobile .headermobile-logo-left {
    display: block;
    width: 100%;
}
#headermobile .header-search {
    margin-left: 24px;
    color: #999;
}
