.block18-3 {
    position: relative;
}
.block18-3-bg {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block18-3.content-picture-left .block18-3-bg {
    left: 0;
    right: unset;
}

@media (max-width: 991px) {
    .block18-3-bg {
        position: static;
        width: 100%;
        margin-bottom: 40px;
        height: 300px;
    }
}
