.block2-2 .tizers {
    margin-bottom: -60px;
    justify-content: center;
}
.block2-2 .tizer {
    position: relative;
}
.block2-2 .tizer-wrap {
    display: flex;
    flex-direction: column;

    height: 100%;
    background: #ffffff;

    position: relative;
    top: 0;
    transition: top 0.3s;
}
.block2-2.hover-effect .tizer:hover {
    cursor: pointer;
    background: transparent !important;
}
.block2-2.hover-effect .tizer:hover .tizer-wrap {
    top: -20px;
    transition: top 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.block2-2.hover-effect .tizer.bg-transparent:hover .tizer-wrap {
    box-shadow: unset;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.block2-2.content-align-left .tizer-wrap {
    align-items: flex-start;
}
.block2-2.content-align-left .tizer {
    text-align: left;
}
.block2-2.content-align-center .tizer-wrap {
    align-items: center;
}
.block2-2.content-align-center .tizer {
    text-align: center;
}
.block2-2.content-align-wdie .tizer {
    text-align: justify;
}
.block2-2 .tizer.bg-color {
    background-clip: content-box;
}
.block2-2 .tizer.bg-color .tizer-wrap,
.block2-2.hover-effect .tizer .tizer-wrap{
    padding: 30px 30px 0;
}
.block2-2 .tizer-picture {
    margin-bottom: 20px;
}
.block2-2.content-picture-center .tizer-picture {
    align-self: center;
}
.block2-2.content-picture-left .tizer-picture {
    align-self: flex-start;
}
.block2-2.content-picture-right .tizer-picture {
    align-self: flex-end;
}

.block2-2.text-light .svg-icon {
    color: #fff!important;
}
.block2-2 .svg-icon svg,
.block2-2 .tizer-icon svg {
    height: 60px;
    max-width: 100%;
}
.block2-2 .tizer-icon {
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.block2-2 .tizer-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #333;
    margin-bottom: 10px;
}
.block2-2.text-light .tizer-name {
    color: #ffffff;
}
.block2-2 .tizer {
    padding: 0 20px;
    margin-bottom: 60px;
}
.block2-2.text-light .tizer-text {
    color: inherit;
}

.block2-2.hover-effect .tizer.slick-slide:hover .tizer-wrap {
    transition: unset;
    top: 0;
}
.block2-2 .tizer.slick-slide .tizer-text {
    margin-bottom: 0;
}
.block2-2 .slider--one-slide .slick-dots {
    display: none !important;
}
.block2-2 .slick-dots {
    list-style: none;
    margin-bottom: 60px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    padding: 0;
}
.block2-2 .slick-dots li {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.block2-2 .slick-dots li:not(.slick-active) {
    background-color: #cccccc;
}
.block2-2 .slick-dots li > button {
    display: none;
}
@media (max-width: 767px) {
    .block2-2 .tizers.tizers--mobile-slider:not(.slick-initialized) .tizer:not(:first-child) {
        display: none;
    }
}
