.block3-2 .tizer {
    position: relative;
    margin-bottom: 40px;
}
.block3-2 .tizer:last-child {
    margin-bottom: 0;
}
.block3-2 .tizer-number {
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 17px;
}
.block3-2 .tizer.dashed::before {
    content: '';
    background-image: url('images/dotted.svg');
    position: absolute;
    display: block;
    height: 1px;
    top: 24px;
    left: 85px;
    right: 15px;
}
.block3-2 .tizer.dashed:last-child::before {
    display: none;
}
.block3-2 .tizer-name {
    color: #333;
    padding-right: 20px;
    font-weight: bold;
}
.block3-2 .tizer-text {
    padding-right: 20px;
    margin-top: 13px;
    margin-bottom: 0;
}
.block3-2.text-light .tizer-name,
.block3-2.text-light .tizer-number,
.block3-2.text-light .tizer-text {
    color: #ffffff;
}
.block3-2.text-light .tizer.dashed::before {
    border: 1px dashed #fff;
}
@media (max-width: 575px) {
    .block3-2 .tizer.dashed::before {
        display: none;
    }
    .block3-2 .tizer {
        margin-bottom: 30px;
    }
    .block3-2 .tizer-text {
        padding-right: 0;
    }
}
