.block20-11 .articles .item {
    margin-top: -1px;
}
.block20-11 .article-wrap {
    border: 1px solid #eff1f5;
    height: 100%;
    display: flex;
    padding: 39px;
}
.block20-11 .article-image-wrap {
    display: block;
    margin-right: 40px;
}
.block20-11 .article-image-wrap img {
    width: 250px;
    height: auto;
}
.block20-11 .article-info {
    position: relative;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}
.block20-11 .article-category {
    opacity: 0.7;
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #999999;
    font-size: 11px;
    letter-spacing: 0.8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block20-11 .article-name {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    margin-bottom: 13px;
}
.block20-11 .article-preview {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.block20-11 .article-preview :last-child {
    margin-bottom: 0;
}

.block20-11 .right-part {
    padding-left: 43px;
    font-size: 13px;
}
.block20-11 .categories-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block20-11 .rss {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    color: rgba(51, 51, 51, 0.35);
    user-select: none;
}
.block20-11 .rss svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
}
.block20-11 .categories-title {
    font-weight: bold;
    text-transform: uppercase;
}
.block20-11 .categories {
    margin: 20px 0 0;
    padding: 20px 29px 22px;
    background: #fbfbfb;
    border: 1px solid #eff1f5;
    list-style: none;
    font-size: 13px;
}
.block20-11 .category {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-top: 10px;
}
.block20-11 .category:first-of-type {
    margin-top: 0;
}
.block20-11 .category-link {
    color: #333;
}
.block20-11 .category-link.selected {
    font-weight: bold;
}
.block20-11 .category-count {
    margin-left: 36px;
    color: #999999;
}

@media (max-width: 991px) {
    .block20-11 .right-part {
        display: none;
    }
}
@media (max-width: 767px) {
    .block20-11 .article-image-wrap img {
        width: 150px;
    }
}
@media (max-width: 575px) {
    .block20-11 .article-wrap {
        flex-direction: column;
    }
    .block20-11 .article-image-wrap {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .block20-11 .article-image-wrap img {
        width: 100%;
    }
}
