.block6-1 .news {
    margin-bottom: -25px;
}
.block6-1 .news-wrap {
    display: block;
    margin-bottom: 25px;
}
.block6-1 .news-block-img {
    margin-bottom: 12px;
    width: 100%;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-bottom: 66.6%;
    background-size: cover;
    background-position: center;
}
.block6-1 .news-wrap:hover .news-block-img {
    opacity: .7;
}
.block6-1 .news-block-name {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #333;
    margin-bottom: 10px;
}
.block6-1 .news-block-text {
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    color: #999999;
    margin-bottom: 7px;
}

/* modal style */
.modal6_1 {
    margin: -10px 10px 0;
}

.modal6_1-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 10px;
}

.modal6_1-date {
    margin-bottom: 33px;
    font-size: 13px;
    line-height: 24px;
    color: #999999;
}

.modal6_1-picture {
    margin-bottom: 43px;
}

.modal6_1-picture img {
    width: 100%;
    height: auto;
}

.modal6_1-preview-text {
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.modal6_1-detail-text {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}

@media (max-width: 575px) {
    .modal6_1 {
        margin: -10px 0 0;
    }

    .modal6_1-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .modal6_1-date {
        margin-bottom: 20px;
    }

    .modal6_1-picture {
        margin-bottom: 20px;
    }

    .modal6_1-preview-text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .modal6_1-detail-text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }
}
