.block3-6 .tizer {
    margin-bottom: 45px;
}
.block3-6 .block-title {
    box-sizing: border-box;
    padding-right: 85px;
}
.block3-6 .tizer:last-child {
    margin-bottom: 0;
}
.block3-6 .tizer-img-wrap {
    margin-bottom: 18px;
}
.block3-6 .tizer-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #333;
    margin-bottom: 11px;
}
.block3-6 .tizer-text {
    margin: 0;
    color: #666666;
}
.block3-6.text-light .tizer-number,
.block3-6.text-light .tizer-name,
.block3-6.text-light .tizer-text{
    color: #ffffff;
}
.block3-6 .tizer-number {
    font-size: 30px;
    line-height: 39px;
}
@media (max-width: 992px) {
    .block3-6 .block-title {
        box-sizing: border-box;
        padding-right: 70px;
    }
}
