.header-basket {
    position: relative;
}
.basket-box {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    width: 480px;
    background-color: #ffffff;
    z-index: 99999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.basket-box-title {
    padding: 25px 30px 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #333;
}
.basket-box-item {
    padding: 20px 30px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
    position: relative;
}
.basket-box-item-picture {
    width: 62px;
    flex-shrink: 0;
    margin-right: 20px;
}
.basket-box-item-picture img {
    max-width: 100%;
}
.basket-box-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.basket-box-item-title {
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
.basket-box-item-prices {
    margin-top: 5px;
    display: flex;
}
.basket-box-item-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #333;
}
.basket-box-item-oldprice {
    font-size: 13px;
    line-height: 30px;
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
}
.basket-box-item-remove {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 25px;
    right: 30px;
}
.basket-box-item-remove svg {
    width: 9px;
    height: 9px;
    color: #9c9c9c;
}
.basket-box-item-remove:hover svg {
    color: #333;
}
.basket-box-total {
    background-color: #F8F8F8;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
}
.basket-box-btn {
    border-radius: 0 !important;
}

.basket-box-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 35px;
}
.basket-box-empty-icon {
    width: 180px;
    height: 180px;
    background: #F4F4F4;
    border-radius: 50%;
    position: relative;
}
.basket-box-empty-icon svg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45px;
    left: 35px;
}
.basket-box-empty-title {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin-top: 15px;
}

.basket-box-loading {
    display: none;
}
.basket-box.loading .basket-box-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #ffffff;
    opacity: .7;
}
.basket-box-loading > .spinner-grow {
    width: 200px;
    height: 200px;
}
