#megamenu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: none;
    z-index: 996; /* to cover bitrix panel */

    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.megamenu-close {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 14px;
    height: 14px;
    color: #999999;
}
.megamenu-close svg {
    width: 14px;
    height: 14px;
}
.megamenu-content {
    text-align: center;
    padding-top: 60px;
}
#megamenu .header-logo {
    height: auto;
}

.megamenu-menu {
    display: flex;
    flex-direction: column;
    margin: 45px 0;
}
.megamenu-menu a {
    color: #333333;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

#megamenu .header-basket span {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
}
#megamenu .header-basket {
    margin: 0 auto 45px;
    max-width: 117px;
}

.megamenu-order-btn {
    margin: 0 auto 45px;
}
#megamenu .header-city-wrap {
    margin: 0 auto 20px;
}
#megamenu .header-city-wrap > span {
    display: none;
}
#megamenu .header-phone {
    margin: 0 auto;
    width: 170px;
    justify-content: center;
    flex-wrap: wrap;
}
#megamenu .header-phone-callback {
    padding-left: 0;
}
#megamenu .header-phone-wrap {
    margin-right: 0;
}
