.block20-5 .filter-wrap {
    border: 1px solid #ececec;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 14px 20px 6px 20px;
    width: calc(100% - 3px);
    background: #fff;
}
.block20-5 .product {
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 25px;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transition: box-shadow .2s ease-out;
    -moz-transition: box-shadow .2s ease-out;
    transition: box-shadow .2s ease-out;
}
.block20-5 .product:hover,
.block20-5 .product-buy {
    border-color: transparent;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow .2s ease-in;
    -moz-transition: box-shadow .2s ease-in;
    transition: box-shadow .2s ease-in;
    z-index: 10;
}
.block20-5.content-indent-elements .maxwidth-theme > .row > div {
    margin-bottom: 30px;
}

.block20-5 .product-name {
    font-size: 14px;
    line-height: 22px;
    color: #333333 !important;
}
.block20-5 .product-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 7px;
}
.block20-5 .product-available {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    padding-left: 14px;
}
.block20-5 .product-available::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.block20-5 .product-available-yes { color: #69BE15; }
.block20-5 .product-available-yes::before{ background-color: #69BE15; }
.block20-5 .product-available-no { color: #E93B3B; }
.block20-5 .product-available-no::before { background-color: #E93B3B; }
.block20-5 .product-rating {
    display: flex;
    align-items: center;
    margin-left: 18px;
}
.block20-5 .product-star {
    margin-right: 1px;
    width: 13px;
    height: 13px;
    position: relative;
}

.block20-5 .product-star--on {
    color: #f2d228;
}
.block20-5 .product-star--off {
    color: #dfdfdf;
}
.block20-5 .product-star svg {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    left: 0;
}
.block20-5 .product-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.block20-5 .product-prices {
    display: flex;
    flex-wrap: wrap;
}
.block20-5 .product-prices > div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}
.block20-5 .product-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin-right: 7px;
}
.block20-5 .product-price-old {
    font-size: 13px;
    line-height: 30px;
    text-decoration: line-through;
    color: #999999;
}
.product-economy-percent {
    font-size: 11px;
    line-height: 16px;
    color: #333333;
    padding: 1px 3px 1px 4px;
    background-color: #FFD600;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 2px;
}
.product-economy-money {
    font-size: 11px;
    line-height: 16px;
    color: #333333;
    padding: 1px 2px 1px 5px;
    background-color: #ffef9d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.block20-5 .block-el-btns {
    margin: 0;
}
.block20-5 .product .block-el-btns .btn {
    font-size: 14px;
    opacity: 0;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
}
.block20-5 .product:hover .block-el-btns .btn {
    opacity: 1;
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}
.block20-5 .product-stickers {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: calc(100% - 60px);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}
.block20-5 .product-sticker {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    padding: 1px 5px 3px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.block20-5 .product-sticker-sale {
    background-color: #FFD600;
    color: #333333;
}
.block20-5 .product-sticker-new {
    background-color: #46BD1C;
}
.block20-5 .product-sticker-recommend {
    background-color: #8E51CB;
}
.block20-5 .product-sticker-hit {
    background-color: #FC3E14;
}
.block20-5 .product-img {
    max-height: 270px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 100%;
}
.block20-5 .product-img img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: auto;
    margin: auto;
}
.block20-5 .col-xl-4 .product-img {
    max-height: 390px;
}
.block20-5 .col-xl-6 .product-img {
    max-height: 580px;
}
.block20-5 a.product-img,
.block20-5 a.product-name {
    display: block;
    cursor: pointer;
}
.block20-5 .product-buy {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
}
.block20-5 .product:hover .product-buy {
    opacity: 1;
    visibility: visible;
    height: auto;
}
.block20-5 .product-buy:not(.in-basket) > div {
    width: 50%;
}
.block20-5 .product-buy-btn,
.block20-5 .product-buy-basket-btn {
    padding-top: 12px;
    padding-bottom: 16px;
    border-radius: 0;
    cursor: pointer;
    margin-top: 0 !important;
}
.block20-5 .counter {
    border-radius: 0;
    border: none;
    border-top: 1px solid #ececec;
}
.block20-5 .product-buy-basket-btn,
.block20-5 .product-buy.in-basket .product-buy-btn,
.block20-5 .product-buy.in-basket .counter {
    display: none;
}
.block20-5 .product-buy.in-basket .product-buy-basket-btn {
    display: block;
}
@media (max-width: 1199px) {
    .block20-5 .filter-wrap {
        width: calc(100% - 2px);
    }
    .block20-5 .product-buy {
        position: static;
        opacity: 1;
        visibility: visible;
        height: auto;
        margin: -25px;
        margin-top: 25px;
        box-shadow: none;
    }
}
@media (max-width: 991px) {
    .block20-5 .filter-wrap {
        width: calc(100% - 1px);
    }
}
@media (max-width: 575px) {
    .block20-5 .filter-wrap {
        width: 100%;
    }
}
