.rx-search-page .search-form {
    position: relative;
    width: 100%;
}
.rx-search-page .search-input {
    color: #333;
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 0 52px 0 19px;
    height: 48px;
    font-size: 1em;
    border: 1px solid #f1f1f1;
    outline: 0;
}
.rx-search-page .search-input::placeholder {
    color: #999999;
}
.rx-search-page .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: #999;
    width: 52px;
}
.rx-search-page .search-btn .svg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 16px;
}
.rx-search-page .search-items {
    margin-top: 30px;
}
.rx-search-page .search-item {
    border-top: 1px solid #f1f1f1;
    padding: 30px 0;
    margin: 0;
    font-size: 15px;
    line-height: 25px;
}
.rx-search-page .search-name {
    display: block;
    margin-bottom: 6px;
}
.rx-search-page .search-breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
}
.rx-search-page .search-breadcrumb > li:after {
    vertical-align: unset;
}
.rx-search-page .search-text {
    margin-top: 15px;
    color: #777;
}
.rx-search-page .search-navigation {
    margin-bottom: 30px;
}
.rx-search-page .search-sort {
    border-top: 1px solid #f1f1f1;
    padding: 30px 0 0;
    color: #777;
    font-size: 14px;
}
.rx-search-page .search-sort > * {
    display: inline-block;
}
.rx-search-page .separator {
    margin: 0 15px;
    color: #ddd
}
.rx-search-page .alert {
    margin: 39px 0 0;
}
.rx-search-page .alert :last-child {
    margin-bottom: 0;
}
