.block10-slider {
    max-width: 100%;
    position: relative;
}
.block10-slider .slick-arrow {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
    z-index: 1;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
}
.block10-slider .slick-arrow.arrow-prev {
    left: 20vw;
}
.block10-slider .slick-arrow.arrow-next {
    right: 20vw;
}
.slick-initialized .slick-slide.block10-1-item {
    outline: none;
    display: flex;
    justify-content: center;    
}
.block10-1-item a img{
    outline: none;
    height: 100%;
    margin: auto;
}
.block10-1-item a{
    outline: none;
    display: flex; 
    width: 86%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.block10-1-item:not(.slick-current) a{
    opacity: 0.5;
    transition: 0.3s;
}
.block10-1-item img {
    max-width: 45vw;
}
.block10-1 .slick-dots {
    bottom: 58px;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.block10-1 .slick-dots.hide-dots {
    display: none;
}
.block10-1 .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 100px;
}
.block10-1 .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border-radius: 50px;
}
.block10-1 .slick-dots li:not(.slick-active) button {
    background-color: #cccccc !important;
}
.block10-1-title {
    position: absolute;
    bottom: -38px;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #666666;
}
.block10-1 .dark-hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    transition: 0.3s;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
}
.block10-1 .dark-hover:hover {    
    opacity: 1;
    transition: 0.3s;
}
.block10-1 .slide-counter {
    margin: 16px 0 0;
    text-align: center;
}
.block10-1-btn {
    text-align: center;
    margin-top: 30px;
}
@media (min-width: 1600px) {
    .block10-1-item a{
        height: 527px;    
    }
    .block10-1-items {
        max-width: 100%;
    }
    .block10-1-items .slick-list.draggable {
        height: 565px;
    }
}
@media (max-width: 1599px) {
    .block10-1-item a {
        height: 400px;    
    }
}
@media (max-width: 1399px) {
    .block10-1-item a{
        height: 350px;    
    }
    .block10-1-items .slick-list.draggable {
        height: 388px;
    }
}
@media (max-width: 1199px) {
    .block10-1-item a {
        height: 250px;    
    }
    .block10-1-items .slick-list.draggable {
        height: 288px;
    }
}
@media (max-width: 989px) {
    .block10-1-item a {
        height: 300px;    
    }
    .block10-1-items .slick-list.draggable {
        height: 338px;
    }
    .block10-1-item img {
        max-width: 100%;
    }
    .block10-slider .slick-arrow.arrow-prev {
        left: 0;
    }
    .block10-slider .slick-arrow.arrow-next {
        right: 0;
    }
    .block10-1-item a img {
        width: 100%;
        height: auto;
    }
}
