.block7-1 .market-items {
    margin-bottom: -30px;
}
.block7-1 .market-item {
    display: block;
    margin-bottom: 30px;
}
.block7-1 .market-item-img {
    height: 428px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.block7-1 .market-item-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.block7-1 a.market-item:hover .market-item-cover { opacity: 1; }
.block7-1 .market-item-body {
    text-align: center;
    padding-top: 15px;
}
.block7-1.content-align-left .market-item-body {
    text-align: left;
}
.block7-1.content-align-wide .market-item-body {
    text-align: justify;
}
.block7-1 .market-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    color: #333333;
}
.block7-1.text-light .market-item-title {
    color: #ffffff;
}
.block7-1 .market-item-desc {
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    margin-top: 5px;
}
.block7-1.text-light .market-item-desc {
    color: #ffffff;
}
