.block20-9 .articles {
    margin-bottom: -30px;
}
.block20-9 .articles .item {
    margin-bottom: 30px;
}
.block20-9 .article-wrap {
    box-shadow: 0 0 0 1px #eff1f5;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.block20-9 .article-image-wrap {
    display: block;
    position: relative;
    padding-top: calc(2/3 * 100%);
}
.block20-9 .article-image-wrap img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.block20-9 .article-info {
    padding: 29px 30px 23px;
    position: relative;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}
.block20-9 .article-category {
    opacity: 0.7;
    margin: 0 0 10px;
    text-transform: uppercase;
    color: #999999;
    letter-spacing: 0.8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block20-9 .article-name-wrap {
    margin-bottom: auto;
}
.block20-9 .article-name {
    display: block;
    font-size: 16px;
    line-height: 25px;
    color: #333;
    margin-bottom: 50px;
}
.block20-9 .article-date {
    color: #777;
    margin-top: -19px;
}

.block20-9 .right-part {
    padding-left: 43px;
    font-size: 13px;
}
.block20-9 .categories-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block20-9 .rss {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    color: rgba(51, 51, 51, 0.35);
    user-select: none;
}
.block20-9 .rss svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
}
.block20-9 .categories-title {
    font-weight: bold;
    text-transform: uppercase;
}
.block20-9 .categories {
    margin: 20px 0 0;
    padding: 20px 29px 22px;
    background: #fbfbfb;
    border: 1px solid #eff1f5;
    list-style: none;
    font-size: 13px;
}
.block20-9 .category {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    margin-top: 10px;
}
.block20-9 .category:first-of-type {
    margin-top: 0;
}
.block20-9 .category-link {
    color: #333;
}
.block20-9 .category-link.selected {
    font-weight: bold;
}
.block20-9 .category-count {
    margin-left: 36px;
    color: #999999;
}

@media (min-width: 576px) {
    .block20-9 .big-article .article-wrap {
        position: relative;
    }
    .block20-9 .big-article .article-image-wrap {
        padding-top: calc(2/3 * (50% - 15px));
        position: static;
    }
    .block20-9 .big-article .article-info {
        position: relative;
        left: calc(50% + 15px);
        width: calc(50% - 15px);
    }
}
@media (max-width: 991px) {
    .block20-9 .right-part {
        display: none;
    }
}
