.block2-4 .tizers {
    justify-content: center;
}
.block2-4 .img-round {
    position: relative;
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.block2-4 .img-round img {
    position: absolute;
    left: 0;
}
.block2-4 .tizers .big-int {
    font-weight: bold;
    font-size: 70px;
    line-height: 45px;
    margin-bottom: 35px;
}
.block2-4 .tizer {
    padding: 0 20px;
}
.block2-4.text-light .big-int {
    color: #f8f9fa;
}
@media (max-width: 1000px) {
    .block2-4 .tizers .big-int {
        margin-bottom: 18px;
        font-size: 50px;
    }
    .block2-4 .tizer-text {
        margin-bottom: 18px;
    }
}
