.block22-2 .insta-cards:not(.slick-initialized) {
    display: none;
}
.block22-2 .insta-card {
    padding: 0 16px;
}
.block22-2 .card-link {
    display: block;
    position: relative;
    cursor: pointer;
    background: #ffffff;
}

/* hack to make the block height equal to the width */
.block22-2 .card-link::before {
    display: block;
    content: "";
    position: relative;
    padding-top: 100%;
}

.block22-2 .card-img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    border-radius: 0;
}

.block22-2 .card-link:hover .card-img {
    z-index: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.block22-2 .card-body {
    display: none;
    padding: 30px;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.block22-2 .card-link:hover .card-body {
    display: block;
}

.block22-2 .card-header {
    padding: 0;
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    border: none;
}

.block22-2 .card-icon {
    position: relative;
    height: 22px;
    width: 22px;
    color: #333333;
}

.block22-2 .card-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
}

.block22-2 .card-date {
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #666666;
}

.block22-2 .card-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #666666;

    white-space: pre-wrap;
}

/* slider style */
.block22-2 .slider {
    position: relative;
    margin: 0;
    width: 100%;
}

.block22-2 .slick-dots {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
.block22-2 .slick-dots li {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.block22-2 .slick-dots li:not(.slick-active) {
    background-color: #cccccc;
}
.block22-2 .slick-dots li > button {
    display: none;
}

.block22-2 .slick-arrow {
    position: absolute;
    top: calc((100% - 40px - 34px) / 2);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.block22-2 .slick-arrow svg {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
}
.block22-2 .slick-arrow.arrow-prev {
    left: -4px;
}
.block22-2 .slick-arrow.arrow-next {
    right: -4px;
}

.block22-2-hide-dots .slick-dots {
    display: none;
}
