.block14-2-img {
    margin-bottom: 34px;
    width: 100%;
}
.block14-2.content-picture-left > .maxwidth-theme > .row {
    flex-direction: row-reverse;
}

.block14-2 .block-title {
    padding-right: 70px;
}
.block14-2.content-picture-left .block-title {
    padding-right: 0;
    padding-left: 70px;
}

@media (max-width: 767px) {
    .block14-2 .block-title {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
