.block.block16-3 {
    min-height: 24px;
}

.block-16-3-img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-16-3-img-wrapper img {
    height: auto;
    max-width: 200%;
    flex-shrink: 0;
}
