.block13-2-slider {
    position: relative;
    min-height: 40px;
}

.block13-2-brand-items {
    margin: 0;
    padding: 0 65px;
    width: 100%;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}

.block13-2 .slick-track {
    display: flex;
    align-items: center;
}

.block13-2-brand-item {
    margin: 0 auto;
    width: 110px;
}

.block13-2-brand-item img {
    width: 110px;
    margin: 0 auto;
}

.block13-2-brand-item:hover {
    opacity: .7;
}

.block13-2 .slick-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    top: calc((100% - 40px) / 2);
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.block13-2 .slick-arrow svg {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
}

.block13-2 .slick-arrow.arrow-prev {
    left: 0;
}

.block13-2 .slick-arrow.arrow-next {
    right: 0;
}
