.block1-1-slider:not(.slick-initialized) .block1-1-bg-image:not(:first-child) {
    display: none;
}
.block1-1-prices {
    display: flex;
    margin-bottom: 30px;
}
.block1-1.content-align-center .block1-1-prices {
    justify-content: center;
}
.block1-1.content-align-left .block1-1-prices {
    justify-content: flex-start;
}
/* text */
.block.block1-1 .block-title .block-subtitle {
    margin-bottom: 25px;
}
.block.block1-1 .block-title .block-title-text {
    margin-bottom: 25px !important;
    margin-top: 0;
}
.block.block1-1 .block-title .block-cattitle {
    margin-bottom: 13px;
}
.block1-1 .toner-block {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.3;
}
.block.block1-1 .block1-1-align-content {
    text-align: left !important;
    margin: auto 0;
}
.block.block1-1.content-align-center .block1-1-align-content {
    text-align: center !important;
    margin: auto;
}
.block.block1-1.content-align-wide .block1-1-align-content {
    text-align: justify !important;
    margin: auto;
}
.block1-1.content-align-center .block-el-btns {
    justify-content: center;
}

.block1-1-price {
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    color: #000;
}
.block1-1-price-old {
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    color: #777777;
    text-decoration: line-through;
    margin-left: 15px;
    padding-top: 8px;
}
.block1-1-bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block1-1-video {
    position: relative;
}
.block1-1-bg-video {
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block1-1-bg-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.block1-1 .slick-dots {
    bottom: 30px;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.block1-1 .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 100px;
}
.block1-1 .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border-radius: 50px;
}
.block1-1 .slick-dots li:not(.slick-active) button {
    background: #fff;
}

.height-inherit {
    height: inherit;
}
.block1-1 .col-flex-rw {
    background-size: 0;
    display: flex;
    place-items: flex-end;
}
.height-fill {
    height: 100%;
}
.block1-1 .block-el-btns {
    margin-top: 25px;
}
.block1-1-content-center  .block-el-btns {
    justify-content: center;
}
@media (min-width: 768px) {
    .block1-1 .text-light-desktop,
    .block1-1 .text-light-desktop .block-title-text,
    .block1-1 .text-light-desktop .block1-1-price,
    .block1-1 .text-light-desktop .block1-1-price-old,
    .block1-1 .text-light-desktop .block-cattitle,
    .block1-1 .text-light-desktop .block-subtitle,
    .block1-1 .text-light-desktop p,
    .block1-1 .text-light-desktop ul,
    .block1-1 .text-light-desktop ol,
    .block1-1 .text-light-desktop dl {
        color: #FFFFFF !important;
    }
    .block1-1-content-left.col-md-6 {
        padding-right: 100px;
    }
    .block1-1-bg-image {
        overflow: hidden;
    }
    .block1-1 .col-flex-rw.block1-1-no-image {
        display:none;
    }
}
.block1-1-bg-image:focus {
    outline: none;
}
@media (max-width: 767px) {
    .block1-1 .text-light-mobile,
    .block1-1 .text-light-mobile .block-title-text,
    .block1-1 .text-light-mobile .block1-1-price,
    .block1-1 .text-light-mobile .block1-1-price-old,
    .block1-1 .text-light-mobile .block-cattitle,
    .block1-1 .text-light-mobile .block-subtitle,
    .block1-1 .text-light-mobile p,
    .block1-1 .text-light-mobile ul,
    .block1-1 .text-light-mobile ol,
    .block1-1 .text-light-mobile dl {
        color: #FFFFFF !important;
    }
    .block1-1 .maxwidth-theme {
        padding: 0 15px !important;
    }
    .block.block1-1 .block-title .block-title-text {
        margin-bottom: 20px;
    }
    .block1-1 .col-flex-rw {
        position: relative;
        width: 100vw;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .block1-1 .block1-1-content-left {
        height: 100%;
    }
    .block1-1-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .block1-1 .mobile-img {
        display: block;
        align-self: flex-end;
        max-height: 100%;
        overflow: hidden;
    }
    .block1-1 .col-flex-rw img {
        max-width: 100%;
        max-height: 100%;
    }
    .block1-1-bg-image{
        background-size: 0;
        background-position: top;
    }
    .block1-1-bg-video {
        display: none;
    }
    .block1-1 .height-fill {
        display: flex;
        flex-direction: column-reverse;
    }
    .block1-1 .block1-1-content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
    .block1-1-content-center {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }
    .block1-1 .slick-dots {
        position: static;
        margin-top: -25px;
        margin-bottom: 25px;
    }
    .block1-1 .slick-dots li:not(.slick-active) button {
        background: #cccccc;
    }
    .block1-1-image {
        justify-content: center;
    }
    .block1-1-align-content {
        margin-top: 30px !important;
    }
    .block1-1 p,
    .block.block1-1 .block-title .block-subtitle,
    .block1-1 .block1-1-slider .block1-1-prices {
        margin-bottom: 20px !important;
    }
    .block1-1 .block-el-btns {
        margin-bottom: 25px;
    }
}
