.block9-2 .employee-wrap {
    margin-bottom: 32px;
}
.block9-2 .employee {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    transition: box-shadow .2s ease-out;
}
.block9-2 .employee:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: box-shadow .2s ease-in;
}
.block9-2 .employee-photo {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0 0;
}
.block9-2 .employee-info {
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-top: none;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    padding: 25px 30px;
    transition: max-height .2s ease-out;
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 100px;
    max-height: 100px;
}
.block9-2 .employee:hover .employee-info {
    height: auto;
    max-height: 100%;
    transition: max-height .2s ease-in;
    border-color: #ffffff;
}
.block9-2 .employee-info-bottom {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}
.block9-2 .employee:hover .employee-info-bottom {
    max-height: 100%;
    transition: max-height .2s ease-in;
}

.block9-2 .employee-post {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.block9-2 .employee-name {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.block9-2 .employee-desc {
    font-size: 13px;
    line-height: 20px;
    color: #666666;
    margin-top: 8px;
}

.block9-2 .employee-props {
    margin-top: 14px;
}
.block9-2 .employee-prop {
    margin-top: 6px;
}
.block9-2 .employee-prop:first-child {
    margin-top: 0;
}
.block9-2 .employee-prop-name {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    margin-top: 3px;
}
.block9-2 .employee-prop-value {
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    display: block;
}

.block9-2 .employee-socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
}
.block9-2 .employee-socials a {
    width: 19px;
    height: 19px;
    position: relative;
    color: #b8b8b8;
    margin-right: 25px;
}
.block9-2 .employee-socials a:hover {
    opacity: 1;
}
.block9-2 .employee-socials a > svg {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
}

.block9-2 .employees-wrapper.employees--slider {
    position: relative;
}
.block9-2 .slick-dots {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex !important;
    justify-content: center;
    padding: 0;
}
.block9-2 .slick-dots li {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.block9-2 .slick-dots li:not(.slick-active) {
    background-color: #cccccc;
}
.block9-2 .slick-dots li > button {
    display: none;
}
.block9-2 .slick-arrow {
    position: absolute;
    top: calc(50% - 38px);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.block9-2 .slick-arrow svg {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
}
.block9-2 .slick-arrow.arrow-prev {
    left: -20px;
}
.block9-2 .slick-arrow.arrow-next {
    right: -20px;
}
.block9-2 .slider--hide-dots .slick-dots,
.block9-2 .slider--hide-counter + .slider-counter {
    display: none !important;
}
.block9-2 .slider-counter {
    text-align: center;
}
@media (max-width: 767px) {
    .block9-2 .slick-arrow {
        display: none !important;
    }
}

