.block5-1-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.block5-1-card {
    background: #FFFFFF;
    padding: 33px 40px 31px 40px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    margin-bottom: -1px;
}
.block5-1-card:hover {    
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-color: #FFFFFF;
    cursor: pointer;
    z-index: 2;
}
.block5-1-card-header {
    width: calc(100% - 62px);
}
.block5-1-question {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
.block5-1-card.collapsed .block5-indicator {
    display: none;
}
.block5-indicator {
    position: absolute;
    height: 11px;
    width: 8px;
    left: -4px;
    top: 42px;
    border-radius: 4px;
    transition: 0.3s;
}
.block5-1-card-body {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    margin-top: 17px;
}
.block5-1 .btn-arrow {
    position: absolute;
    right: 33px;
    top: 33px;
    transform: rotate(180deg);
    height: 32px;
    width: 32px;
    background-image: url('img/arrow-down-gray.svg');
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}
.block5-1 .btn-arrow:hover,
.block5-1-card:hover .btn-arrow {
    cursor: pointer;
    background-image: url('img/arrow-down.svg');
}
.block5-1 .btn-arrow.collapsed {
    transform: rotate(0deg);
}

@media (max-width: 575px) {
    .block5-1-card {
        padding: 31px;
    }
    .block5-1 .btn-arrow {
        right: 31px;
        top: 31px;
    }
}
