.block13-1 .brand-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    transition: opacity .2s;
}
.block13-1 .brand-item:hover {
    opacity: .7;
}
