.block9-4-slider-wrap {
    position: relative;
}

.block9-4 .employee {
    padding: 60px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 4px;
    display: flex;
    height: 100%;
}
.block9-4 .employee-photo-wrap {
    margin-right: 60px;
}
.block9-4 .employee-photo {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.block9-4 .employee-info-wrap {
    word-break: break-word;
}
.block9-4 .employee-post {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    margin-bottom: 9px;
}
.block9-4 .employee-name {
    font-size: 26px;
    line-height: 27px;
    color: #333333;
}
.block9-4 .employee-desc {
    margin-top: 27px;
}

.block9-4 .employee-props {
    margin-top: 22px;
    display: flex;
}
.block9-4 .employee-prop {
    margin-right: 45px;
}
.block9-4 .employee-prop-name {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    opacity: .7;
    margin-top: 3px;
}
.block9-4 .employee-prop-value {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    display: block;
}

.block9-4 .employee-socials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.block9-4 .employee-socials a {
    width: 19px;
    height: 19px;
    position: relative;
    color: #b8b8b8;
    margin-right: 25px;
}
.block9-4 .employee-socials a:hover {
    opacity: 1;
}
.block9-4 .employee-socials a > svg {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
}

.block9-4 .slick-dots {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
.block9-4 .slick-dots li {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.block9-4 .slick-dots li:not(.slick-active) {
    background-color: #cccccc;
}
.block9-4 .slick-dots li > button {
    display: none;
}

.block9-4 .slick-arrow {
    position: absolute;
    top: calc(50% - 34px);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.block9-4 .slick-arrow svg {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
}
.block9-4 .slick-arrow.arrow-prev {
    left: -20px;
}
.block9-4 .slick-arrow.arrow-next {
    right: -20px;
}

.block9-4-oneslide .slick-dots {
    display: none !important;
}

@media (max-width: 991px) {
    .block9-4 .employee {
        padding: 30px;
    }
    .block9-4 .employee-photo {
        max-width: 260px;
        max-height: 260px;
    }
    .block9-4 .employee-props {
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .block9-4 .employee {
        flex-wrap: wrap;
    }
    .block9-4 .employee-photo-wrap {
        margin-right: 0;
        width: 100%;
    }
    .block9-4 .employee-photo {
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .block9-4 .employee-post,
    .block9-4 .employee-name,
    .block9-4 .employee-prop-name,
    .block9-4 .employee-prop-value {
        text-align: center;
    }
    .block9-4 .employee-socials {
        justify-content: center;
    }
    .block9-4 .employee-props > div {
        width: 100%;
    }
    .block9-4 .employee-prop {
        margin-right: 0;
        margin-top: 8px;
    }
    .block9-4 .employee-prop:first-child {
        margin-top: 0;
    }
    .block9-4 .employee-socials {
        margin-top: 20px;
        justify-content: center;
    }
    .block9-4 .employee-socials a {
        margin: 0 10px;
    }
    
    .block9-4 .slick-arrow {
        display: none !important;
    }

    .block9-4 .slick-list {
        padding-right: 38px;
    }
    .block9-4-slide-wrap {
        padding-left: 16px;
    }
    .block9-4-slider {
        margin-left: -20px;
        margin-right: -20px;
    }

    .block9-4-oneslide .slick-list {
        padding-right: 0 !important;
    }
    .block9-4-oneslide .block9-4-slide-wrap {
        padding: 0 16px !important;
    }
}
@media (max-width: 375px) {
    .block9-4 .employee-photo {
        max-width: 204px;
        max-height: 204px;
    }
}
