.block14-3 {
    position: relative;
}
.block14-3 .block-title {
    padding-right: 100px;
}
.block14-3.content-picture-left .block-title {
    padding-right: 0;
    padding-left: 100px;
}
.block14-3-bg-image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block14-3.content-picture-left .block14-3-bg-image {
    left: 0;
    right: unset;
}
@media (max-width: 991px) {
    .block14-3 {
        padding-top: 0 !important;
    }
    .block14-3-bg-image {
        position: static;
        width: 100%;
        height: 500px;
        margin-bottom: 30px;
    }
    .block14-3 .block-title,
    .block14-3-text {
        padding: 0 !important;
    }
    .block14-3 .btn {
        margin-left: 0 !important;
    }
}
