.block12-3-slider {
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
}
.block12-3-slides {
    width: 100%;
    margin: 0;
}
.block12-3-slide {
    background-color: #ffffff;
    padding: 35px 50px 35px 30px;
    border: 1px solid #ececec;
    border-radius: 4px;
    outline: none;
    height: 100%;
}
.block12-3-slide-wrap {
    padding: 0 16px;
}

.block12-3-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}
.block12-3-user {
    margin-left: 40px;
    min-width: 180px;
    display: flex;
}

.block12-3-quotes {
    width: 45px;
    min-width: 45px;
    color: #d9d9d9 !important;
    position: relative;
    margin-top: 9px;
}
.block12-3-quotes svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 18px;
}
.block.text-light .block12-3-quotes {
    color: #ffffff;
}
.block12-3-stars {
    max-width: 107px;
    height: 19px;
    display: flex;
    align-content: flex-end;
}
.block12-3-star {
    margin-right: 3px;
    width: 19px;
    height: 19px;
    position: relative;
}
.block12-3-stars .block12-3-star:last-child {
    margin-right: 0;
}
.block12-3-star--on { color: #f2d228; }
.block12-3-star--off { color: #dfdfdf; }
.block12-3-star svg {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
}
.block12-3-text {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}
.block12-3-avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 25px;
}
.block12-3-post {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
}
.block12-3-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}
.block12-3-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.block12-3-info > div {
    width: 100%;
}

.block12-3 .slick-dots {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}
.block12-3 .slick-dots li {
    width: 20px;
    height: 4px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.block12-3 .slick-dots li:not(.slick-active) {
    background-color: #cccccc;
}
.block12-3 .slick-dots li > button {
    display: none;
}

.block12-3 .slick-arrow {
    position: absolute;
    top: calc(50% - 47px);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}
.block12-3 .slick-arrow svg {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
}
.block12-3 .slick-arrow.arrow-prev {
    left: -4px;
}
.block12-3 .slick-arrow.arrow-next {
    right: -4px;
}

.block12-3-oneslide .slick-dots {
    display: none !important;
}

.block12-3-more {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .block12-3-slide {
        padding: 30px;
    }
    .block12-3-top {
        flex-wrap: wrap;
    }
    .block12-3-top > div {
        width: 100%;
    }
    .block12-3-user {
        display: flex;
        margin-bottom: 25px;
        width: 100%;
        margin-left: 0;
    }
    .block12-3-avatar {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .block12-3 .slick-arrow {
        display: none !important;
    }

    .block12-3 .slick-list {
        padding-right: 38px;
    }
    .block12-3-slide-wrap {
        padding-left: 16px;
        padding-right: 0;
    }
    .block12-3-slider {
        margin-left: -20px;
        margin-right: -20px;
    }

    .block12-3-oneslide .slick-list {
        padding-right: 0 !important;
    }
    .block12-3-oneslide .block12-3-slide-wrap {
        padding: 0 16px !important;
    }
}

/* modal styles */
.modal12-3-top {
    display: flex;
    margin-bottom: 23px;
    justify-content: space-between;
    align-items: center;
}
.modal12-3-user {
    display: flex;
}
.modal12-3-avatar {
    width: 74px;
    min-width: 74px;
    height: 74px;
    margin-right: 25px;
    border-radius: 50%;
    background-size: cover;
}
.modal12-3-info {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.modal12-3-info > div {
    width: 100%;
}
.modal12-3-post {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
}
.modal12-3-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}
.modal12-3-stars {
    height: 19px;
    display: flex;
}
.modal12-3-star {
    margin-right: 3px;
    width: 19px;
    height: 19px;
    position: relative;
}
.modal12-3-stars .modal12-3-star:last-child {
    margin-right: 0;
}
.modal12-3-star--on { color: #f2d228; }
.modal12-3-star--off { color: #dfdfdf; }
.modal12-3-star svg {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 0;
}
.modal12-3-review {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
}
@media (max-width: 767px) {
    .modal12-3-top {
        flex-wrap: wrap;
    }
    .modal12-3-top > div {
        width: 100%;
    }
    .modal12-3-stars {
        margin-top: 25px;
    }
}
