.block3-3 .stage-name {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: right;
}
.block3-3 .stage-text {
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 60px;
}
.block3-3 .stage:last-child .stage-text {
    margin-bottom: 0;
}
.block3-3.text-light .stage-name,
.block3-3.text-light .stage-text {
    color: #ffffff;
}
.block3-3 .stage-line {
    position: relative;
}
.block3-3 .stage-line::before {
    content: '';
    background-image: url('images/dotted-vertical.svg');
    background-repeat: repeat-y;
    top: 33px;
    width: 1px;
    height: calc(100% - 43px);
    display: block;
    position: absolute;
}
.block3-3 .stage-icon {
    position: relative;
    width: 19px;
    height: 19px;
    margin-top: 4px;
}
.block3-3 .stage-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
}
.block3-3.text-light .stage-icon {
    stroke: #ffffff;
}
@media (max-width: 767px) {
    .block3-3 .stage-name {
        text-align: left;
        margin-bottom: 6px;
    }
    .block3-3 .stage-text {
        margin-bottom: 30px;
    }
}
