.block.block1-2 .block-title .block-title-text {
    margin-bottom: 25px !important;
    margin-top: 0;
}
.block.block1-2 .block-title .block-cattitle {
    margin-bottom: 13px;
}
.block1-2-prices {
    display: flex;
    margin-bottom: 30px;
}
.block.block1-2 .block1-2-content-left{
    text-align: left !important;
    margin: auto;
}
.block1-2 .toner-block {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.5;
}
.block1-2-price {
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    color: #000;
}
.block1-2-price-old {
    font-weight: 600;
    font-size: 15px;
    line-height: 37px;
    color: #777777;
    text-decoration: line-through;
    margin-left: 15px;
    padding-top: 8px;
}
.block1-2-bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block1-2 .slick-dots {
    bottom: 54px;
    position: relative;
    display: block;
    list-style: none;
    text-align: left;
    margin-bottom: -24px;
}
.block.block1-2 ul.slick-dots {
    padding-left: 40px;
}
.block1-2 .slick-dots li.theme-bg.slick-active button{
    background: inherit;
}
.block1-2 .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    margin: 0 10px 0 0;
    padding: 0;
    cursor: pointer;
    border-radius: 100px;
}
.block1-2 .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    border-radius: 50px;
}
.block1-2 .slick-dots li:not(.slick-active) button {
    background: #cccccc;
}

.block1-2-content-height{
    height: inherit;
}
.block1-2 .col-flex-rw {
    display: flex;
    place-items: flex-end;
}
.height-fill {
    height: 100%;
}
.block1-2-item {
    outline: none;
}
.block1-2 .block-el-btns {
    margin-top: 25px;
}
@media (min-width: 992px) {
    .block.block1-2 .block1-2-content-left {
        padding-right: 100px !important;
    }
    .block1-2 .text-light-desktop,
    .block1-2 .text-light-desktop p,
    .block1-2 .text-light-desktop ul,
    .block1-2 .text-light-desktop ol,
    .block1-2 .text-light-desktop dl,
    .block.block1-2 .text-light-desktop .block-title-text,
    .block1-2 .text-light-desktop .block1-2-price,
    .block1-2 .text-light-desktop .block1-2-price-old,
    .block.block1-2 .text-light-desktop .block-cattitle {
        color: #FFFFFF !important;
    }
    .block1-2-content-left.col-md-6 {
        padding-right: 100px;
    }
    .block1-2-bg-image {
        height: 830px !important;
    }
    .block1-2 .mobile-img {
        display: none;
    }
}

.block1-2-bg-image {
    position: absolute;
    width: 50%;
}
.block1-2-container {
    height: 830px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

@media (max-width: 991px) {
    .block1-2 .text-light-mobile,
    .block1-2 .text-light-mobile p,
    .block1-2 .text-light-mobile ul,
    .block1-2 .text-light-mobile ol,
    .block1-2 .text-light-mobile dl,
    .block.block1-2 .text-light-mobile .block-title-text,
    .block1-2 .text-light-mobile .block1-2-price,
    .block1-2 .text-light-mobile .block1-2-price-old,
    .block.block1-2 .text-light-mobile .block-cattitle {
        color: #FFFFFF !important;
    }
    .block1-2-content-left {
        padding-right: 15px !important;
    }
    .block.block1-2 .block-title .block-title-text{
        font-size: 25px;
        line-height: 30px;
    }
    .block1-2-bg-image {
        position: relative;
        width: 100%;
        height: 500px;
    }
    .block1-2-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .block1-2 .mobile-img {
        display: block;
        align-self: flex-end;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .block1-2 .mobile-img img {
        max-width: 100%;
        max-height: 100%;
    }
    .block1-2 .desc-img {
        display: none;
    }
    .block1-2-bg-image {
        display: flex;
    }
    .block1-2-container {
        height: auto;
    }
    .block1-2-content-height {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .block1-2 .slick-dots {
        margin-bottom: 10px;
        position: static;
    }
}
@media (max-width: 575px) {
    .block1-2-bg-image {
        height: 200px;
    }
}
